*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(135deg,#0f172a,#020617);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.chat-container{
    width:95%;
    max-width:500px;
    height:90vh;
    background:#111827;
    border-radius:18px;
    display:flex;
    flex-direction:column;
    overflow:hidden;
    box-shadow:0 0 25px rgba(0,0,0,0.5);
}

.header{
    padding:18px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    background:#1f2937;
    color:white;
}

.chat-box{
    flex:1;
    padding:15px;
    overflow-y:auto;
}

.message{
    margin:10px 0;
    padding:12px 14px;
    border-radius:14px;
    max-width:80%;
    word-wrap:break-word;
}

.user{
    background:#2563eb;
    color:white;
    margin-left:auto;
}

.bot{
    background:#374151;
    color:white;
}

.input-area{
    display:flex;
    padding:12px;
    background:#1f2937;
}

input{
    flex:1;
    padding:12px;
    border:none;
    border-radius:10px;
    outline:none;
}

button{
    margin-left:10px;
    padding:12px 18px;
    border:none;
    border-radius:10px;
    background:#22c55e;
    color:white;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    background:#16a34a;
}
